<app-welcome *ngIf="section === 0" (changeSection)="onChangeSection($event)">
</app-welcome>

<app-coordinates
  *ngIf="section === 1"
  (changeSection)="onChangeSection($event)"
  [applicant]="applicant"
>
</app-coordinates>

<app-skills
  *ngIf="section === 2"
  (changeSection)="onChangeSection($event)"
  [applicant]="applicant"
></app-skills>

<app-covid-stuff
  *ngIf="section === 3"
  (changeSection)="onChangeSection($event)"
  [applicant]="applicant"
>
</app-covid-stuff>

<app-about-applicant
  *ngIf="section === 4"
  (changeSection)="onChangeSection($event)"
  [applicant]="applicant"
>
</app-about-applicant>

<app-submit-application 
[applicant]="applicant" *ngIf="section === 5" 
(changeSection) = "onChangeSection($event)">

</app-submit-application>

<app-applications *ngIf="section === -1" (changeSection)="onChangeSection($event)" ></app-applications>


