<form class="black-white_background" id="test">
  <h1 id="covid-h">Covid Stuff</h1>
  <div class="covid-questions">
    <div class="pref-workplace">
      <p>How would you prefeer to work</p>
      <div class="radio-btn">
        <input
          id="from_sairme_office"
          type="radio"
          name="workplace"
          (click)="onChooseWorkPlace('from_sairme_office')"
          required
        />
        <label for="from sairme office">From Sairme Office</label>
      </div>
      <div class="radio-btn">
        <input
          id="from_home"
          type="radio"
          name="workplace"
          (click)="onChooseWorkPlace('from_home')"
          required
        />
        <label for="from home">From Home</label>
      </div>
      <div class="radio-btn">
        <input
          id="hybrid"
          type="radio"
          name="workplace"
          (click)="onChooseWorkPlace('hybrid')"
        />
        <label for="hybrid">Hybrid</label>
      </div>
    </div>

    <div class="contact-covid">
      <p>Did you contact covid?:(</p>
      <div class="radio-btn">
        <input
          id="hadCovid"
          type="radio"
          name="contacted"
          (click)="onContactCovid('y')"
          required
        />
        <label for="yes">Yes</label>
      </div>
      <div class="radio-btn">
        <input
          id="!hadCovid"
          type="radio"
          name="contacted"
          (click)="onContactCovid('n')"
          required
        />
        <label for="no">No</label>
      </div>
      <div *ngIf="showCovidLoc" class="covid-location">
        <p>When?</p>
        <div class="loc-wrapper">
          <p>Date</p>
          <input type="date" (mouseleave)="onMouseLeaveCovidLocation($event)" />
        </div>
      </div>
    </div>
    <div class="vaccination-field">
      <p>Have you been vaccinated</p>
      <div class="radio-btn">
        <input
          id="vaccinated"
          type="radio"
          name="vaccination"
          required
          (click)="onVaccination('y')"
        />
        <label for="yes">Yes</label>
      </div>
      <div class="radio-btn">
        <input
          id="!vaccinated"
          type="radio"
          name="vaccination"
          required
          (click)="onVaccination('n')"
        />
        <label for="no">No</label>
      </div>
      <div
        *ngIf="showVaccination"
        class="covid-location"
        id="covid-vaccination"
      >
        <p>When did you get your last covid vaccine?</p>
        <div class="loc-wrapper">
          <p>Date</p>
          <input
            type="date"
            required
            (mouseleave)="onMouseLeaveVaccination($event)"
          />
        </div>
      </div>
    </div>
  </div>

  <div id="description" class="some-description">
    <h1>Redberry Covid Policies</h1>
    <p>
      As this infamous pandemic took over the world, we adjusted our working
      practices so that our employees can be as safe and comfortable as
      possible. We have a hybrid work environment, so you can either work from
      home or visit our lovely office on Sairme Street. If it was up to us, we
      would love you to see us in the office because we think face-to-face
      communications > Zoom meetings. Both on the fun and productivity scales.
    </p>
  </div>
</form>

<div id="pagination">
  <app-pagination 
  [canGoNext]="canGoNext" 
  [currentSection]="3"
  (setSection)="setSection($event)"
  ></app-pagination>
</div>
