<div class="submitted-app-wrapper">
  <div class="submitted-apps">
    <h1>Submitted applications</h1>
    <div class="sub-apps-wrapper" *ngFor="let applicant of applicants">
      <div class="sub-app-list">
        <p>1</p>
        <img
          class="dropdown"
          src="../../../assets/img/dropdownWhite.png"
          alt=""
        />
      </div>
      <div class="app-information">
        <div class="right-divs">
          <div class="personal-inf">
            <p class="red-p">Personal Information</p>
            <div class="personal-inf-wrapper">
              <div>
                <p>First Name</p>
                <p>Last Name</p>
                <p>E Mail</p>
                <p>Phone</p>
              </div>
              <div class="pDiv">
                <p>Sandro</p>
                <p>Revazishvili</p>
                <p>sandro@gmail.com</p>
                <p>+995568117764</p>
              </div>
            </div>
          </div>
          <div class="covid-situation">
            <p class="red-p">Covid Situation</p>
            <div>
              <p class="question-p">How you prefer to to work</p>
              <ul>
                <li>
                  <div class="covid-li-wrapper">
                    <div class="circle"></div>
                    <p>From Sairme Office</p>
                  </div>
                </li>
                <li>
                  <div class="covid-li-wrapper">
                    <div class="circle"></div>
                    <p>From Home</p>
                  </div>
                </li>
                <li>
                  <div class="covid-li-wrapper">
                    <div class="circle"></div>
                    <p>Hybrid</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="had-covid">
            <p>Did you have covid 19?</p>
            <div class="had-covid-ans">
              <div class="circle"></div>
              <p>Yes</p>
            </div>
            <div class="had-covid-ans">
              <div class="circle"></div>
              <p>No</p>
            </div>
          </div>
          <div class="when-had-covid">
            <p>When did you have covid?</p>
            <div class="covid-date-wrapper">
              <p>Date</p>
              <img src="../../../assets/img/calendar.png" alt="" />
            </div>
          </div>
          <div class="vaccinated">
            <p>Have You Been Vaccinated</p>
            <div class="vaccinated-ans">
              <div class="circle"></div>
              <p>Yes</p>
            </div>
            <div class="vaccinated-ans">
              <div class="circle"></div>
              <p>No</p>
            </div>
          </div>
          <div class="vaccinated-when">
            <p>When did you get covid vaccine?</p>
            <div class="covid-date-wrapper">
              <p>Date</p>
              <img src="../../../assets/img/calendar.png" alt="" />
            </div>
          </div>
        </div>
        <div class="left-divs">
          <p class="red-p">Skillset</p>
          <div class="skillset">    
            <div>
              <p>PHP</p>
              <p>HTML</p>
              <p>LARAVEL</p>
              <p>JAVASCRIPT</p>
            </div>
            <div class="pDiv">
              <p>Years of experience 2</p>
              <p>Years of experience 3</p>
              <p>Years of experience 5</p>
              <p>Years of experience 1</p>
            </div>
          </div>
          <div class="insights">
            <p class="red-p">Insights</p>
            <p class="question-p">Would you attend Devtalks and maybe also organize your own?</p>
            <div class="had-covid-ans">
              <div class="circle"></div>
              <p>Yes</p>
            </div>
            <div class="had-covid-ans">
              <div class="circle"></div>
              <p>No</p>
            </div>
          </div>
          <div class="about-devtalk">
            <p>What would you speak about at Devtalk?</p>
            <div class="devtalk-ans">
              <p>How to center div yeah?</p>
            </div>
          </div>
          <div class="something-special">
            <p>Tell us something special</p>
            <div id="specialAns" class="devtalk-ans">
              <p>Something special</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
