

.go-back{
    position: absolute;
    margin: 0;
    top: 50px;
    left: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.submitted-app-wrapper{
    width: 1920px;
    min-height: 1080px;
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);

}

.submitted-apps{
    width: 1154px;
    min-height: 842px;
    margin: 0 auto;
    padding-top: 100px;
}

.submitted-apps h1{
    margin: 0;
    font-family: Rowdies;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 0.17em;

    color: #FFFFFF;
    margin-bottom: 55px;
    padding-left: 25px;
}


