/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Montserrat&family=Rowdies&family=Shizuru&family=Sora:wght@200&family=Supermercado+One&display=swap');

body,html{
    margin: 0;
    /* overflow: hidden; */
}


.black-white_background{
    position: relative;
    width: 1920px;
    height: 1080px;

    background: #FFFFFF;
}

.some-description{
    position: absolute;
    width: 50%;
    height: 1080px;
    left: 960px;
    top: 0px;

    /* Primary BG */

    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}





